



/* Left section styling */

.hero {
    height: 100%;
    overflow: hidden;
    display: flex;
}

.hSection {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}



.hTitle {
    margin-top: 50px;
    font-size: 100px;
    color: white;
}

.hTitle span {
    color: #F0B346;
}

.awards {
  width: 100%;
  max-width: 500px;
}

.awardsTitle {
  font-size: 24px;
  font-weight: 700;
  color: #F0B346; /* your highlight color */
  margin-bottom: 12px;
  line-height: 1.4;
}

.awardsText {
  font-size: 16px;
  line-height: 1.6;
  color: #ddd;
  margin-bottom: 24px;
}



.awardList {
    display: flex;
    gap: 8px;
}

.awardList img {
    width: 36px;
    height: 36px;
    padding: 8px;
    background-color: #E8CD86;
    border-radius: 100%;
}

.scroll {
    margin-bottom: 50px;
    width: max-content;
    /* background-color: #161014; */
}



/* Right section styling */


.hSection.right {
    align-items: end;
}

.follow {
      display: flex;
  flex-direction: column;
  color: #252735;
  gap: 12px;
  padding: 16px;
  background-color: #161014;
  border-bottom-right-radius: 10px;
}
.follow img {
    width: 20px;
    height: 20px;
    margin-bottom: 8px;
}

.followTextContainer {
     width: 20px;
    height: 20px;
}

.followText {
     background-color: #E8CD86;
  font-size: 12px;
  rotate: 90deg;
  width: max-content;
  height: 100%;
  transform-origin: left top;
  transform: translateY(-20px);
  padding: 0 8px;
  display: flex;
  align-items: center;
  border-bottom-right-radius: 10px;
}


.bubbleContainer {

}

.bubble{

}

.bubble img {

}

.certificate {
    width: 60%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 8px;
    text-align: center;
    line-height: 24px;
    font-weight: 600;
    color: #C4D2E3;
}

.certificate img {
    width: 170px;    
    height: 120px;
}