* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Scrolling */

html {
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}

body {
    background: linear-gradient(to bottom, #12071f, #2f204e );
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    min-height: 100vh;
}

a {
    text-decoration: none;
    color: white;

}

/* App.jsx styles */

.container {
    max-width: 1536px;
    padding-left: 16px;
    padding-right: 16px;
    margin-left: auto;
    margin-right: auto;

}

section {
    height: 100vh;
    scroll-snap-align: center;
}


/* backgroundds of each section */

section:nth-child(1) {
background-color: black;
}

section:nth-child(2) {
background-color: red;
}

section:nth-child(3) {
background-color: green;
}

section:nth-child(4) {
background-color: purple;
}





/* ÷Responsive laypouts */

@media(min-width:640px) {
    .container {
        max-width: 640px;
    }
}



@media(min-width:768px) {
    .container {
        max-width: 768px;
    }
}



@media(min-width:1024px) {
    .container {
        max-width: 1024px;
    }
}



@media(min-width:1280px) {
    .container {
        max-width: 1280px;
    }
}



@media(min-width:1536px) {
    .container {
        max-width: 1536px;
    }
}


